.logo-img{
    border-radius: 100%;
}

header {
    background-color: rgba(76, 175, 80, 0);
    color: brown;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    width: 50px; /* Adjust the size of the circle photo */
    height: 50px; /* Adjust the size of the circle photo */
    border-radius: 50%;
    margin-right: 10px;
}

.dates-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.date-box {
    background-color: #e0f7fa;
    border: 1px solid #00bcd4;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust the size of the logo image */
    height: 50px; /* Adjust the size of the logo image */
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px; /* Adjust the font size of the small name */
    margin: 0;
}

.right span {
    font-weight: bold;
}

.middle nav a {
    color: brown;
    text-decoration: none;
    margin-right: 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.slideshow-container {
    max-width: 800px; /* Adjust the maximum width of the slideshow container */
    margin: auto;
    position: relative;
}

.mySlides {
    display: none;
}

/* 
.mySlides img {
    width: 100%;
} 
*/

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    padding: 10px;
    border: none;
    outline: none;
}

.prev:hover, .next:hover {
    background-color: #45a049;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://getwallpapers.com/wallpaper/full/9/8/b/931159-friendship-wallpaper-1920x1200-samsung-galaxy.jpg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0;
    /* background-position: 150px; */
}

.name{
    color: blanchedalmond;
}

footer {
    background-color: rgba(76, 175, 80, 0);
    color: brown;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

